/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './colors.css';

@layer base {
  body {
    background-color: var(--brand-black);
    color: var(--text-color); /* Corrected for dark theme */
  }

  input,
  textarea,
  select {
    background-color: var(--input-bg);
    border: 1px solid var(--input-border);
    color: var(--input-text-color);
  }
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
    border-color: var(--input-focus-border);
  }

  ::placeholder {
    color: var(--placeholder-color);
    opacity: 1;
  }

  .error {
    color: var(--error-color);
  }
}

@layer utilities {
  .bg-black {
    background-color: var(--brand-black);
  }
  .bg-white {
    background-color: var(--brand-white);
  }
  .bg-yellow {
    background-color: var(--brand-yellow);
  }
  .bg-gray-light {
    background-color: var(--brand-gray-light);
  }
  .bg-gray-medium {
    background-color: var(--brand-gray-medium);
  }
  .bg-gray-dark {
    background-color: var(--brand-gray-dark);
  }

  .text-black {
    color: var(--brand-black);
  }
  .text-white {
    color: var(--brand-white);
  }
  .text-yellow {
    color: var(--brand-yellow);
  }
  .text-gray-light {
    color: var(--brand-gray-light);
  }
  .text-gray-medium {
    color: var(--brand-gray-medium);
  }
  .text-gray-dark {
    color: var(--brand-gray-dark);
  }
}
